---
import { getLangFromUrl, slugSelector } from "@/lib/utils/languageParser";
import { markdownify } from "@/lib/utils/textConverter";

const { callToAction } = Astro.props;
const lang = getLangFromUrl(Astro.url);
---

<section
  class="section overlay-secondary bg-fixed bg-[url('/images/backgrounds/banner-2.jpg')]"
>
  <div class="container">
    <div class="row">
      <div class="lg:col-7 md:col-10 col-11 text-center mx-auto">
        <h2
          class="h1 text-text-light relative mb-12"
          set:html={markdownify(callToAction.title)}
        />
        {
          callToAction.button.enable && (
          <a
            class="btn btn-primary hover:glow-shadow hidden lg:inline-block"
            href="https://www.vagaro.com/fatherandsonbarbershop/book-now"
              set:html={callToAction.button.label}
            />
          )
        }
      </div>
    </div>
  </div>
</section>
