---
import Base from "@/layouts/Base.astro";
---

<Base>
  <section class="section py-14">
    <div class="container max-w-3xl mx-auto p-12 rounded-2xl shadow-lg">
        <h1 class="text-5xl font-bold mb-10">Terms of Use</h1>
        <p class="mb-8"><strong>Effective Date:</strong> 05/20/2025</p>
        <p class="mb-10 leading-relaxed">
            These Terms of Use govern your use of the Father and Son Barber website and services. By accessing or using our site, you agree to comply with these terms. If you do not agree, please do not use our website.
        </p>

        <h2 class="text-3xl font-semibold mb-6">1. Acceptance of Terms</h2>
        <p class="mb-10 leading-relaxed">
            By using our website, you agree to these Terms of Use and our Privacy Policy. If you do not agree to these terms, you may not use our services.
        </p>

        <h2 class="text-3xl font-semibold mb-6">2. Use of Our Services</h2>
        <ul class="list-disc list-inside mb-10 space-y-3">
            <li>You may use our services for lawful purposes only.</li>
            <li>You agree not to use our site in a way that could damage, disable, or impair our services.</li>
            <li>You are responsible for maintaining the confidentiality of your account information.</li>
        </ul>

        <h2 class="text-3xl font-semibold mb-6">3. Intellectual Property</h2>
        <p class="mb-10 leading-relaxed">
            All content on this website, including text, images, logos, and designs, is the property of Father and Son Barber and protected by copyright and trademark laws. Unauthorized use is prohibited.
        </p>

        <h2 class="text-3xl font-semibold mb-6">4. Limitation of Liability</h2>
        <p class="mb-10 leading-relaxed">
            Father and Son Barber is not liable for any damages arising from the use or inability to use our website or services.
        </p>

        <h2 class="text-3xl font-semibold mb-6">5. Changes to These Terms</h2>
        <p class="mb-10 leading-relaxed">
            We may update these Terms of Use from time to time. Any changes will be posted on this page with an updated effective date.
        </p>

        <h2 class="text-3xl font-semibold mb-6">6. Contact Us</h2>
        <p class="leading-relaxed">
            If you have any questions about these Terms of Use, please contact us at:
        </p>
        <address class="mt-8 mb-10 leading-relaxed">
            Father and Son Barber<br>
            Email: <a href="mailto:info@fatherandsonbarber.com" class="hover:underline">info@fatherandsonbarber.com</a><br>
            Phone: +1 571-642-5380<br>
            Address: 9437 Lorton Market St, Lorton, VA 22079
        </address>
    </div>
  </section>
</Base>
